body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* 背景色与主页区别开来 */
}

.remote-control {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

img {
    width: 80%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em auto
}

.power {
    background-color: #ff6347;
    font-size: 1.5em;
}

.visual {
    background-color: #32de84;
    font-size: 1.5em;
}

.switch {
    display: flex;
    align-items: start;
}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lr {
    display: flex;
    align-items: center;
}

.bolr .return {
    position: absolute;
    right: calc(50% - 8em);
}

.up,
.down,
.left,
.right {
    width: 3em;
    height: 3em;
    font-size: 1.4em;
}

.return {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border-radius: 50%;
}

.ok {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border-radius: 50%;
}

.text-input {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.3em;
}

.send {
    background-color: #007bff;
    color: #fff;
    font-size: 1.3em;
}