

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <div class="remote-control">
        <div class="switch">
        <button class="button power" onclick="sendCommand_refresh('keyevent KEYCODE_POWER')">电源</button>
        <button class="button visual" onclick="keshi=!keshi;">可视</button>
        </div>
        <img id="refreshimg" src="{{ url_for('static', filename='screenshot.png')}}" alt="screenshot">
        <div class="arrows">
            <button class="button up" onclick="sendCommand_refresh('keyevent KEYCODE_DPAD_UP')">▲</button>
            <div class="lr">
                <button class="button left" onclick="sendCommand_refresh('keyevent KEYCODE_DPAD_LEFT')">◀</button>
                <button class="button ok" onclick="sendCommand_refresh('keyevent KEYCODE_ENTER')">OK</button>
                <button class="button right" onclick="sendCommand_refresh('keyevent KEYCODE_DPAD_RIGHT')">▶</button>
            </div>
            <div class="bolr">
            <button class="button down" onclick="sendCommand_refresh('keyevent KEYCODE_DPAD_DOWN')">▼</button>
            <button class="button return" onclick="sendCommand_refresh('keyevent KEYCODE_BACK')">⏎</button>
            </div>
        <div class="lr">
	<button class="button left" onclick="sendCommand('ZhIbO')">📺</button>
        <button class="button left" onclick="sendCommand('ViDeO')">📞</button>
        <button class="button left" onclick="sendCommand('YoUtUbE')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/></svg></button>
        </div>    
        </div>
        <input type="text" class="text-input" id="text" placeholder="输入文字...">
        <button class="button send" onclick="sendText()">发送</button>
  	<input type="text" class="text-input" id="url" placeholder="打开网站...">
        <button class="button send" onclick="sendurl()">确定</button>
    </div>
</div>

<script>
    let keshi = false;
        function sendCommand(command) {
            fetch('/send_command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'command=' + encodeURIComponent(command)
            });
        }
        function sendCommand_refresh(command) {
            if(keshi) {
                fetch('/send_command_refresh', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'command=' + encodeURIComponent(command)
            }).then(response => {
                console.log(response);
                var now = new Date();
                document.getElementById("refreshimg").src="{{ url_for('static', filename='screenshot.png')}}" + '?t=' +  now.getTime();
                
            });
            } else {
                sendCommand(command);
            }
            
        }
        function sendText() {
            var text = document.getElementById('text').value;
            sendCommand('TeXt ' + encodeURIComponent(text));
            document.getElementById('text').value = '';
        }
	
	function sendurl() {
            var text = document.getElementById('url').value;
            sendCommand('UrL ' + encodeURIComponent(text));
            document.getElementById('url').value = '';
        }
       var lastTouchEnd = 0;
document.documentElement.addEventListener('touchend', function (event) {
	var now = Date.now();
	if (now - lastTouchEnd <= 300) {
		event.preventDefault();
	}
	lastTouchEnd = now;
}, {
	passive: false
 
});
    </script>
</body>
</html>
